body,
html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("./assets/cloudBg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#flyingPanda {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 15vw; /* Use 15% of viewport width for desktops */
  height: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

@media (max-width: 600px) {
  #flyingPanda {
    width: 30vw;
    top: 40%;
  }
}
.center-text {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  z-index: 1;
}
